{% extends 'base.html' %}
{% block content %}
<main class = 'container py-5 text-center'>
    <section class = 'card card-body'>
        <h1 class = 'display-1 text-center'>Introduccion</h1>
        <p>
            Discover the elegance and simplicity of our personalized to-do list! Designed exclusively for you, this Django and Bootstrap-based tool gives you complete control over your daily activities.
        </p>
        <p>With our to-do list, you can effortlessly create, modify, and delete tasks. Whether you need to organize your work responsibilities, personal projects, or simply keep track of pending tasks, we're here to make your life easier.</p>
    </section>
    <div>
        <a class='btn btn-secondary' href = 'signin'>
            Signin
        </a>
        <a class='btn btn-dark' href = 'signup'>
            Signup
        </a>
    </div>
</main>

{% endblock content %}